$primary: #fb1e1e;
$dark: #1e1e2f;
$light: #f4f6ff;

.form-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.form-card {
  width: 380px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  text-align: center;

  h2 {
    margin-bottom: 5px;
    color: $dark;
  }

  .subtitle {
    font-size: 14px;
    color: gray;
    margin-bottom: 25px;
  }
}

.input-group {
  position: relative;
  margin-bottom: 22px;

  input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    background: transparent;

    &:focus {
      border-color: $primary;
    }

    &:focus + label,
    &:valid + label {
      top: -8px;
      background: white;
      font-size: 12px;
      color: $primary;
    }
  }

  label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    pointer-events: none;
    transition: 0.3s;
    padding: 0 5px;
  }
}

button {
  width: 100%;
  padding: 12px;
  background: $primary;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

}

.link {
  margin-top: 18px;
  font-size: 14px;

  Link {
    color: $primary;
    cursor: pointer;
    font-weight: 600;
  }
}