.navbar {
  height: 64px;
  background: #111;
  color: #fff;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__logo a {
    font-size: 22px;
    font-weight: 700;
    color: #4caf50;
    text-decoration: none;
  }

  &__links {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;

    li {
      display: flex;
      align-items: center;
    }

    a {
      color: #ddd;
      text-decoration: none;
      font-size: 16px;
      text-transform: capitalize;

      &.active {
        color: #4caf50;
        border-bottom: 2px solid #4caf50;
        padding-bottom: 4px;
      }

      &:hover {
        color: #fff;
      }
    }

    button {
      background: #e53935;
      border: none;
      padding: 8px 16px;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #c62828;
      }
    }
  }

  &__toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;

    span {
      width: 25px;
      height: 3px;
      background: #fff;
      transition: 0.3s;
    }
  }
}


@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
    z-index: 50;
    &__toggle {
      display: flex;
    }

    &__links {
      position: absolute;
      top: 64px;
      right: 0;
      background: #111;
      width: 220px;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      gap: 20px;

      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }

    &__links.open {
      transform: translateX(0);
    }
  }
}