.recipe-details {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.recipe-image img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  height: 400px;

  @media (max-width: 900px) {
    height: 300px;
  }
}

.recipe-content {
  display: flex;
  flex-direction: column;
}

.recipe-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.meta-info {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #666;


  span:nth-child(4){
    text-transform: capitalize;
  }
}

.difficulty {
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.difficulty.easy {
  background: #e0f7e9;
  color: #2e7d32;
}

.difficulty.medium {
  background: #fff4e0;
  color: #ef6c00;
}

.difficulty.hard {
  background: #fdecea;
  color: #c62828;
}

.tags {
  margin-bottom: 20px;
}

.tag {
  background: #f0f0f0;
  padding: 6px 12px;
  margin-right: 8px;
  border-radius: 20px;
  font-size: 13px;
}

.description {
  margin: 20px 0;
  line-height: 1.6;
  color: #444;
}

.section {
  margin-top: 25px;
}

.section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

.section ul,
.section ol {
  padding-left: 20px;
  line-height: 1.7;
}

.section li {
  margin-bottom: 8px;
}