.recipe-card {
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .recipe_fav_heart {
    position: absolute;
    top: 40%;
    right: .6rem;
    // background-color: red;
    z-index: 50;
    font-size: 1.5rem;
  }
.fav_heart{
  color: red;
}
  .recipe_edit-delete {
    position: absolute;
    top: 1%;
    left: 2%;
    display: flex;
    gap: .6rem;
    z-index: 10;
    font-size: .7rem;

    .edit {
      background-color: rgb(92, 188, 95);
    }

    .delete {
      background-color: #e53935;
    }
  }

  &:hover {
    transform: translateY(-6px);
  }

  &__image {
    position: relative;

    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }

    .difficulty {
      position: absolute;
      top: 12px;
      right: 12px;
      padding: 6px 12px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: 600;
      color: white !important;

      &.easy {
        background: #4caf50;
      }

      &.medium {
        background: #ff9800;
      }

      &.hard {
        background: #e53935;
      }
    }
  }

  &__content {
    padding: 20px;

    .title {
      font-size: 22px;
      margin-bottom: 8px;
    }

    .description {
      color: #666;
      font-size: 14px;
      margin-bottom: 15px;
    }

    .meta {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #444;
    }

    .ingredients,
    .instructions {
      margin-bottom: 15px;

      h4 {
        font-size: 14px;
        margin-bottom: 6px;
        color: #333;
      }

      ul {
        padding-left: 18px;
        font-size: 13px;
        color: #555;
      }

      p {
        font-size: 13px;
        color: #555;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .tag {
        background: #f1f1f1;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 500;
        color: #333;
      }
    }
  }
}